@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .badge {
    @apply inline-flex justify-center items-center ml-2 w-4 h-4 text-xs font-semibold bg-primary rounded-full;
  }
}

.btn-icon {
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
  border-radius: 9999px !important;
  color: #fff !important;
  transition: background-color 0.2s ease;
  padding: 0 !important;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background) !important;
  color: var(--text) !important;
}

//  #__next, body, html {
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   flex-grow: 1;
// }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

// light
:root {
  --hue: 205;
  --saturation: 100%;
  --lightness: 59%;

  --primary: hsl(var(--hue) var(--saturation) calc(var(--lightness) - 10%));
  --primary2: hsl(var(--hue) var(--saturation) var(--lightness));
  --primary3: hsl(var(--hue) var(--saturation) calc(var(--lightness) - 20%));

  // --background: hsl(var(--hue) 15% 95%);
  // --accent: hsl(var(--hue) 15% 90%);
  // --accent2: hsl(var(--hue) 15% 85%);
  // --accent3: hsl(var(--hue) 15% 80%);
  // --accent4: hsl(var(--hue) 15% 75%);
  // --text: hsl(var(--hue) 15% 20%);

  --background: hsl(0 0% 10%) !important;
  --accent: hsl(0 0% 16%) !important;
  --accent2: hsl(0 0% 22%) !important;
  --accent3: hsl(0 0% 28%) !important;
  --accent4: hsl(0 0% 34%) !important;
  --text: hsl(0 15% 100%) !important;

  --status-red: #ff4040;
  --status-green: #04d000;
  --status-blue: #00c9f5;
  --status-yellow: #f79421;
}

.dim {
  --background: hsl(var(--hue) 15% 20%) !important;
  --accent: hsl(var(--hue) 15% 25%) !important;
  --accent2: hsl(var(--hue) 15% 30%) !important;
  --accent3: hsl(var(--hue) 15% 35%) !important;
  --accent4: hsl(var(--hue) 15% 40%) !important;
  --text: hsl(var(--hue) 15% 90%) !important;
}

.dark {
  --background: hsl(0 0% 10%) !important;
  --accent: hsl(0 0% 16%) !important;
  --accent2: hsl(0 0% 22%) !important;
  --accent3: hsl(0 0% 28%) !important;
  --accent4: hsl(0 0% 34%) !important;
  --text: hsl(0 15% 100%) !important;
}

.tippy-box {
  background-color: var(--primary);
}

.tippy-box > .tippy-arrow {
  color: var(--primary);
}

.blaze-slider {
  --slides-to-show: 3;
}

@media (max-width: 500px) {
  .blaze-slider {
    --slides-to-show: 2;
  }
}

.react-mde {
  border-radius: 0.5rem !important;
  border: none !important;
}

.mde-header {
  background-color: var(--gray-200) !important;
  border: 1px solid rgba(var(--text-color-rgb), 0.3) !important;
  border-radius: 0.5rem 0.5rem 0 0 !important;
}

.mde-header .mde-header-item button {
  color: var(--text-color) !important;
}

.mde-text {
  border-radius: 0 0 0.5rem 0.5rem !important;
  resize: none !important;
  height: 80px !important;
  transition: all 0.3s ease-in-out;
}

.mde-text:focus,
.mde-text:active {
  outline: var(--primary-300) solid 1.5px !important;
}

.stars-container {
  display: flex;
  color: gold;
  gap: 0.5rem;

  .star-wrapper {
    display: grid;

    svg {
      position: relative;
      z-index: 10;
      cursor: pointer;
    }
  }
}

.mobile-menu {
  background-color: var(--gray-150);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;

  a {
    // font-weight: 500;
  }
}

.navbar {
  padding: 0.725rem;

  @media (min-width: 768px) {
    /* justify-content: center; */
  }

  .items:not(.dropdown-item) {
    a {
      font-weight: 500;
      padding: 0.3rem 0.725rem;
      border-radius: 0.5rem;
      transition: background-color var(--transition);

      &:hover {
        /* background-color: var(--gray-100); */
      }
    }
  }

  .dropdown-menu {
    top: 135% !important;
    width: 250px !important;
  }

  .dropdown-trigger,
  .dropdown-item {
    text-transform: uppercase;
    font-weight: 600;
  }
}

.home-container {
  padding-left: 11.5rem;
  padding-right: 11.5rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @media (min-width: 768px) {
    grid-template-columns: minmax(0, 1fr) 270px;
  }

  .swiper {
    color: var(--text-color) !important;
  }

  .upcoming-swiper {
    width: 100%;
    height: 250px;
    color: black;

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: var(--gray-100);
      width: 200px !important;

      @media (max-width: 768px) {
        width: 80% !important;
      }

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .activities-swiper {
    width: 100%;
    height: 100px;
    color: black;

    .swiper-slide {
      display: flex;
      flex-direction: column;
      text-align: center;
      /* font-size: 18px; */
      background: var(--gray-100);
      width: 80% !important;

      // bottom border radius
      border-radius: 0.5rem;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide .game-cover {
      display: block;
      width: 100%;
      height: 60%;
      object-fit: cover;
      border-radius: 0.5rem 0.5rem 0 0;
    }
  }

  .swiper-pagination-bullet {
    background: var(--gray-100);
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: var(--primary-300);
  }
}

.popular-game {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background: var(--accent);
  height: 100px;

  @media (min-width: 768px) {
    height: 75px;
    flex-direction: row;
  }

  .game-cover {
    display: block;
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;

    @media (min-width: 768px) {
      width: 27%;
      height: 100%;
      border-radius: 0.5rem 0 0 0.5rem;
    }
  }
}

.popular-list {
  background-color: var(--accent);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;

  .game-cover {
    /* border radius top left and right */
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    height: 85px;
    object-fit: cover;

    @media (min-width: 768px) {
      width: 70px;
    }
  }
}

.activity {
  background-color: var(--accent);
  border-radius: 0.5rem;
  // height: 150px;
  // width: 100%;

  /* padding: 1rem; */

  .game-cover-link {
    @media (max-width: 768px) {
      width: 13rem;
    }
  }

  .game-cover {
    width: 100%;
    height: 95px;
    border-radius: 0.5rem 0.5rem 0 0;

    @media (min-width: 768px) {
      border-radius: 0.5rem 0 0 0.5rem;
      width: 95px;
    }
  }
}

.notification {
  // background-color: var(--gray-100);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;

  .clickable {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    height: 40px;
    width: 100%;
    // background-color: var(--accent);
    transition: background-color var(--transition);

    &:hover {
      // background-color: var(--accent-light);
    }
  }
}

.select-options {
  position: absolute;
  top: 33px;
  left: 0;
  width: 100%;
  z-index: 100;
  // background-color: var(--accent);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  box-shadow: var(--shadow-2);
}

.select-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  height: 40px;
  width: 100%;

  // &:hover {
  //   background-color: var(--accent-light);
  // }
}

.spinner-container {
  .spinner {
    transform-origin: center center;
    -webkit-animation: spinner-rotate 1.4s linear infinite;
    animation: spinner-rotate 1.4s linear infinite;
  }

  .line {
    transform-origin: center center;
    transform: rotate(0deg);
    -webkit-animation: spinner-arc 1.4s ease-in-out infinite;
    animation: spinner-arc 1.4s ease-in-out infinite;
  }

  @-webkit-keyframes spinner-rotate {
    to {
      transform: rotate(1turn);
    }
  }

  @keyframes spinner-rotate {
    to {
      transform: rotate(1turn);
    }
  }

  @-webkit-keyframes spinner-arc {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0px;
    }
    50% {
      stroke-dasharray: 100, 200;
      stroke-dashoffset: -15px;
    }
    to {
      stroke-dasharray: 100, 200;
      stroke-dashoffset: -113.097px;
    }
  }

  @keyframes spinner-arc {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0px;
    }
    50% {
      stroke-dasharray: 100, 200;
      stroke-dashoffset: -15px;
    }
    to {
      stroke-dasharray: 100, 200;
      stroke-dashoffset: -113.097px;
    }
  }
}

.create-list-container {
  background-color: var(--accent);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  min-width: 100%;

  @media (min-width: 768px) {
    min-width: 550px;
  }

  .type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem 3rem;
    background-color: var(--gray-100);
    border-radius: 0.5rem;
  }

  .type-active {
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--primary-300);
  }

  .games {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--gray-100);
    border-radius: 0.5rem;
    max-height: 225px;
    overflow-y: auto;
  }

  .game {
    transition: all var(--transition);
    padding: 0.5rem 1rem;

    &:hover {
      cursor: pointer;
      background-color: var(--gray-150);
    }
  }
}

.input {
  border-radius: 0.5rem;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-50);
  color: var(--text-color);
  transition: all 0.3s ease-in-out;

  &::placeholder {
    color: var(--text-color) !important;
  }

  &.primary {
    background-color: var(--accent);
  }

  &.secondary {
    background-color: var(--gray-150);
  }

  &:focus,
  &:active {
    outline: var(--primary-300) solid 1.5px !important;
  }
}

.icon {
  top: calc(50% - 0.8em);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  z-index: 100;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.modal {
  position: relative;
  background-color: var(--background);
  border-radius: 0.5rem;
  padding: 1rem;
}

.swiper {
  color: var(--text-color) !important;
}

.upcoming-swiper {
  width: 100%;
  height: 250px;
  color: black;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--accent);
    width: 200px !important;

    @media (max-width: 768px) {
      width: 80% !important;
    }

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.activities-swiper {
  width: 100%;
  height: 100px;
  color: black;

  .swiper-slide {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* font-size: 18px; */
    background: var(--accent);
    width: 80% !important;

    // bottom border radius
    border-radius: var(--border-radius);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide .game-cover {
    display: block;
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
}

.swiper-pagination-bullet {
  background: var(--gray-100);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--primary-300);
}
